#navbar {
  background: #ffffff;
  height: 105px;
}

#navbar img {
  position: relative;
}

#navbar ul.menu {
    float: right;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
}

.navbar-collapse {
      padding-top: 30px;
      font-family: 'lato-r';
      font-style: normal;
}

.jumbotron {
  padding-top: 105px;
  padding-bottom: 0;
  background-color: white;
  margin-bottom: auto;
}

.carousel {
    margin-top: 50px;
}


.carousel-caption {
  position: absolute;
  background-color: rgba(14,118,188,0.81);
  opacity: 1;
  left: 0;
  right: 0;
    cursor:default
}

.carousel-caption h3 {
    color: rgba(14,118,188,0.81);
}

 img.width-control{
  width:100%;
}

.property {
  margin-bottom: 15px;
}

.property-container {
  position: relative;
  overflow: hidden;
    cursor:pointer
}

.property .img-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  bottom: -300px;
  left: 0;
  color: white;
  text-align: center;
  padding-top: 30px;
  -webkit-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.property:hover .img-cover{
  bottom: 0;
}

.blueBackground{
    background-color: #0d70b7;
    color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .carousel-caption {
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .carousel-caption h3{
    font-size: 17px;
    margin-top: 8px;
  }
  .carousel-caption p{
    font-size: 15px;
  }
.logo img  {
    width: 210px;
  }
#navbar {height: 65px;}
  .jumbotron {padding-top: 65px;
  }
  .center  img{
    width: 100% !important;
  }
}

/* Blue Div*/
.services {
  height: auto;
  background-color: #0E76BC;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 20px 0;
  color: white;
        font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
}

.gallery {
    height: auto;
  background-color: #0E76BC;
  margin-top: 45px;
  margin-bottom: 30px;
  padding: 20px 0;
  color: white;
        font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
}

.center{
  text-align: center;
        font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
}

.text-font {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
}
.center img {
  width: auto;
}

.img-circle {
  border: 3px solid white;
  border-radius: 50%;
  margin: auto;
  width: 220px;
}

.control-size {
  max-width: 90%;
  height: auto;
}

.figCaption {
  text-align: center;
  margin-top: 20px;
}
#aboutUs {
  margin-bottom: 50px;
}
#aboutUs h2 {
  color: #161F32
}
.row-content {
  text-align: justify;
}
#ceoMsg {
  margin: auto;
  width: 60%;
}

.flash          { background: #cee5F5; }

.tag {
  max-width: 100%;
}

#newLetter {
  color: #708090;
  margin-top: 80px;
  margin-bottom: 40px;
}


.subscribeForm input[type=button] {
    background-color: #161F32;
    border: solid;
    color: white;
    padding: 16px 32px;
    width: 100%;
    height: 60px;
    text-decoration: none;
    cursor: pointer;
}

.subscribeForm input[type=email]{
  background-color: #161F32;
  border: 1px solid white;
  color: white;
  padding: 16px 20px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
}

.subscribeForm input[type=text]{
  background-color: #161F32;
  border: 1px solid white;
  color: white;
  padding: 16px 20px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
}

.blueBack {
  background-color: rgba(14,118,188,0.8);
  width: 100%;
  margin-top: 50px;
}

.icon-background
{
  color: white;
}

.mymargin{
    border: 1px solid white;
  background-color: white;
  width: 31%;
  font-family: Verdana, Geneva, sans-serif;
  color: #161F32;
    margin: 20px auto 30px;
    padding: 20px 30px;
}

.mymargin:hover{
     border: 1px solid #161F32;
}

#sendMessage {
  margin-top: 40px;
}

.subscribeForm textarea {
  background-color: #161F32;
  border: 1px solid white;
  color: white;
  padding: 16px 20px;
  width: 100%;
  text-decoration: none;
  margin-top: 20px;
}

.center input[type=button]
{
  border: 1px solid white;
  background-color: white;
  width: 60%;
  margin-left:  auto;
  margin-right:  auto;
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 30px;
}

#exampleTextArea {
    resize: none;
}


.center input[type=button]:hover
{
  border: 1px solid white;
  background-color:  rgba(14,118,188,0.8);
  color: white;
}

#footer {
  border-top: 1px solid white;

}
#footer p {
  text-align: center;
  padding: 5px 0;
  font-size: 0.8em;
  width: 80%;
  margin: auto;
}

/*gallery*/

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('../static/images/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01-99-66 .p            (normal)
.jssort01-99-66 .p:hover      (normal mouseover)
.jssort01-99-66 .p.pav        (active)
.jssort01-99-66 .p.pdn        (mousedown)
*/
.jssort01-99-66 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    height: 66px;
}

.jssort01-99-66 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01-99-66 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01-99-66 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 62px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url('../static/images/t01.png') -800px -800px no-repeat;
    _background: none;
}

.jssort01-99-66 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 95px;
    height: 62px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01-99-66 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 97px;
    height: 64px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01-99-66 .p.pdn .c {
    background-position: 50% 50%;
    width: 95px;
    height: 62px;
    border: #000 2px solid;
}

* html .jssort01-99-66 .c, * html .jssort01-99-66 .pdn .c, * html .jssort01-99-66 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 99px;
    height /**/: 66px;
}






    /*navbar buttons when collapsed*/
@media only screen and (max-width: 766px) {
.collapsing ul li a, .in ul li a {color: #000066!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
}

/*our services slider */
#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
  padding-right: 0;
        font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;
}

@media (min-width: 992px) {
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;}
}
@media (max-width: 991px) {
	.carousel-caption p,
	#myCarousel .list-group {display:none;}
}
