#navbar {
  background: #ffffff;
  height: 105px;
}

#navbar img {
  position: relative;
}

#navbar ul.menu {
  float: right;
}

.navbar-collapse {
      padding-top: 30px;
      font-family: 'lato-r';
      font-style: normal;
}

.jumbotron {
  padding-top: 105px;
  padding-bottom: 0;
}

#myCarousel {
height: fixed;
}

.carousel-caption {
  position: absolute;
  background-color: rgba(14,118,188,0.81);
  opacity: 1;
  left: 0;
  right: 0;
}

#mainContainer {
  padding-top: 100px;
}

 img.width-control{
  width:100%;
}

.property {
  margin-bottom: 15px;
}

.property-container {
  position: relative;
  overflow: hidden;
}

.property .img-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  bottom: -300px;
  left: 0;
  color: white;
  text-align: center;
  padding-top: 30px;
  -webkit-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.property:hover .img-cover{
  bottom: 0;
}


@media screen and (max-width: 600px) {
  .carousel-caption {
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .carousel-caption h3{
    font-size: 17px;
    margin-top: 8px;
  }
  .carousel-caption p{
    font-size: 15px;
  }
.logo img  {
    width: 210px;
  }
#navbar {height: 65px;}
  .jumbotron {padding-top: 65px;
  }
  .center  img{
    width: 100% !important;
  }
}

.services {
  width:100%;
  height: auto;
  background-color: #0E76BC;
  margin-top: 40px;
  color: white;
  padding-bottom: 50px;
}

.center{
  text-align: center;
}
.center img {
  width: auto;
}

.img-circle {
  border: 3px solid white;
  border-radius: 50%;
  margin: auto;
  width: 220px;
}

.control-size {
  max-width: 90%;
  height: auto;
}

.figCaption {
  text-align: center;
  margin-top: 20px;
}
#aboutUs {
  margin-bottom: 50px;
}
.row-content {
  text-align: justify;
}
#ceoMsg {
  margin: auto;
  width: 60%;
}

.tag {
  max-width: 100%;
}

#newLetter {
  color: #708090;
  margin-top: 80px;
  margin-bottom: 40px;
}


.subscribeForm input[type=button] {
    background-color: #161F32;
    border: solid;
    color: white;
    padding: 16px 32px;
    width: 100%;
    height: 60px;
    text-decoration: none;
    cursor: pointer;
}

.subscribeForm input[type=email]{
  background-color: #161F32;
  border: 1px solid white;
  color: white;
  padding: 16px 20px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
}

.subscribeForm input[type=text]{
  background-color: #161F32;
  border: 1px solid white;
  color: white;
  padding: 16px 20px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  cursor: pointer;
}

.blueBack {
  background-color: rgba(14,118,188,0.8);
  width: 100%;
  margin-top: 50px;
}

.icon-background
{
  color: white;
}

.blueBack p,h2{
  color: white;
}

#sendMessage {
  margin-top: 40px;
}

.subscribeForm textarea {
  background-color: #161F32;
  border: 1px solid white;
  color: white;
  padding: 16px 20px;
  width: 100%;
  text-decoration: none;
  margin-top: 20px;
}

.center input[type=button]
{
  border: 1px solid white;
  background-color: white;
  width: 60%;
  margin-left:  auto;
  margin-right:  auto;
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 30px;
}


.center input[type=button]:hover
{
  border: 1px solid white;
  background-color:  rgba(14,118,188,0.8);
  color: white;
}

#footer {
  border-top: 1px solid white;

}
#footer p {
  text-align: center;
  padding: 10px 0;
  font-size: 0.8em;
  width: 80%;
  margin: auto;
}
