<!DOCTYPE html>
<html>
<head>
  <title>Egyptian swedish</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../static/fonts/font-awesome.min.css" rel="stylesheet">
  <link href="../static/mystyles1.css" rel="stylesheet">
  <link href="../static/hover.css" rel="stylesheet"  media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>


<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="logo navbar-btn pull-left" href="#"><img alt="Brand" src="../static/images/logo.png"></a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" ></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <nav role="navigation">
      <ul id="navbar-buttons" class="menu nav navbar-nav">
        <li class="hvr-underline-reveal"><a href="#">HOME</a></li>
        <li class="hvr-underline-reveal"><a href="#">PROJECT</a></li>
        <li class="hvr-underline-reveal"><a href="#">SERVICES</a></li>
        <li class="hvr-underline-reveal"><a href="#">ABOUT US</a></li>
        <li class="hvr-underline-reveal"><a href="#">CONTACTS</a></li>
      </ul>
    </nav>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <img src="../static/images/interior-design.jpg">
             <div class="carousel-caption">
              <h4><a href="#">Lorem ipsum dolor sit amet consetetur sadipscing</a></h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
            </div>
          </div><!-- End Item -->

           <div class="item">
            <img src="http://placehold.it/760x400/999999/cccccc">
             <div class="carousel-caption">
              <h4><a href="#">consetetur sadipscing elitr, sed diam nonumy eirmod</a></h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
            </div>
          </div><!-- End Item -->

          <div class="item">
            <img src="http://placehold.it/760x400/dddddd/333333">
             <div class="carousel-caption">
              <h4><a href="#">tempor invidunt ut labore et dolore</a></h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
            </div>
          </div><!-- End Item -->

          <div class="item">
            <img src="http://placehold.it/760x400/999999/cccccc">
             <div class="carousel-caption">
              <h4><a href="#">magna aliquyam erat, sed diam voluptua</a></h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
            </div>
          </div><!-- End Item -->

          <div class="item">
            <img src="http://placehold.it/760x400/dddddd/333333">
             <div class="carousel-caption">
              <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
            </div>
          </div><!-- End Item -->

        </div><!-- End Carousel Inner -->


      <ul class="list-group col-sm-4">
        <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Lorem ipsum dolor sit amet consetetur sadipscing</h4></li>
        <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>consetetur sadipscing elitr, sed diam nonumy eirmod</h4></li>
        <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>tempor invidunt ut labore et dolore</h4></li>
        <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>magna aliquyam erat, sed diam voluptua</h4></li>
        <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>tempor invidunt ut labore et dolore magna aliquyam erat</h4></li>
      </ul>

        <!-- Controls -->
        <div class="carousel-controls">
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

      </div><!-- End Carousel -->
  </div></div>

<div id="mainContainer" class="container">
  <div class="row">

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/whale.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/build.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/whale.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/build.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/build.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

  </div>
</div>



  <div class="container services">
    <div class="center">
      <h2> Our services </h2>
        <img src="../static/images/line.png" />
      <p style="margin-bottom: 50px;">An enterprising approach to commercial real estate services Houston and around the world</p>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <figure>
        <img class="img-circle img-responsive"  src="../static/images/c1.jpg" />
        <figcaption class="figCaption">smfsdfsk</figcaption>
        </figure>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-3">
        <figure>
        <img class="img-circle img-responsive"  src="../static/images/c1.jpg" />
        <figcaption class="figCaption">smfsdfsk</figcaption>
        </figure>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <figure>
        <img class="img-circle img-responsive"  src="../static/images/c1.jpg" />
        <figcaption class="figCaption">smfsdfsk</figcaption>
        </figure>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <figure>
        <img class="img-circle img-responsive" src="../static/images/c1.jpg" />
        <figcaption class="figCaption">smfsdfsk</figcaption>
        </figure>
      </div>
    </div>
    </div>
  </div>

  <div id="aboutUs">
    <div class="center">
      <h2>ABOUT US</h2>
      <img src="../static/images/line.png"/>
      <p>We focuses on building long term relationships with customers by providing superior customer service.</p>
    </div>
  </div>

  <div class="container">
      <div class="row row-content">
        <div class="col-xs-12 col-sm-6 col-md-8">
            Egyptian Swedish is an integrated commercial property developer that owns, develops and manages real estate including residential projects,
            large scale resorts and building globally.Egyptian Swedish is a big company with big values and under it there is companies like (Red Sea,
            Egyptian Jordanian, Egyptian Swedish for hotels supplies) also offers a range of investment properties, management services and property assets.
            Egyptian Swedish is founded on the quality and integrity of our people and the long-term relationships we build with our customers plus an unrivalled
            knowledge of the property market in Red Sea.Egyptian Swedish combining dedicated people, global scale and extensive local knowledge.
            Our Customers:Egyptian Swedish focuses on building long term relationships with customers by providing superior customer service and ensuring that properties
            are maintained to exceptional standards.Our aim is to be the place for all Red Sea home hunters to find details of all properties available to buy or rent.
            Our team provide sophisticated property assistant.With the depth of information that it provides, home hunters can immediately identify a preferred property.
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="#">
              <img class="tag" src="../static/images/about.jpg" alt="About swedish team">
            </a>
        </div>
      </div>
  </div>

  <div id="ceoMsg" class="center">
    <h2>CEO Message</h2>
    <p>Total Quality Management and for Assured Quality, procedures are being implemented in our company.
      Our team of professionals always demonstrate our capabilities and giving us confidence in under-taking evermore challenging projects in building and construction.</p>
    <img class="tag" src="../static/images/line.png" />
    <h2 id="newLetter">SUBSCRIBE TO OUR NEWSLETTER</h2>
  </div>

  <div class="container subscribeForm">
    <div class="row row-content">
      <form class="form-inline">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <input type="email" placeholder="jane.doe@example.com">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="button" value="Send invitation">
        </div>
      </form>
    </div>
  </div>

  <div class="blueBack">
    <div class="container">
    <div class="center">
      <h2>FEEL FREE TO ASK US ANYTHING</h2>
      <p>Contact us</p>
      <img class="tag" src="../static/images/line.png">
      <p>Just ask. Get answers. Your questions and comments are important to us</p>
    </div>

    <div class="row row-content">
      <div class="center col-xs-12 col-sm-12 col-md-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x icon-background"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
          <p>Address</p>
          <p>Mohamed Saed St., Elkawthar, Infront of Metro Market, El King Building, Second Floor, Apartment No. 8</p>
      </div>

      <div class="center col-xs-12 col-sm-12 col-md-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x icon-background"></i>
          <i class="fa fa-envelope-o fa-stack-1x"></i>
        </span>
          <p>Mail</p>
          <p>info@egyptian-swedish.com</p>
      </div>

      <div class="center col-xs-12 col-sm-12 col-md-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x icon-background"></i>
          <i class="fa fa-phone fa-stack-1x"></i>
        </span>
          <p>Phone</p>
          <p>Ahmed Mohamaden +20 110 050 2231</p>
      </div>
    </div>

      <div id="sendMessage">
        <div class="row row-content subscribeForm">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <input type="text" class="form-control" placeholder="Your name*">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <input type="email" class="form-control"  placeholder="Your e-mail address*">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <input type="text" class="form-control" placeholder="Subject*">
          </div>
        </div>
        <div class="row row-content subscribeForm">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Message*"></textarea>
          </div>
        </div>

        <div class="row row-content">
          <div class="center col-xs-12 col-sm-12 col-md-12">
          <input type="button" value="Send Message">
        </div>

    </div>
  </div>
</div>

<div id="footer">
  <p>© Copyright 2016 Egyptian Swedish. Made with ♥ @ Pixels Media Studio</p>
</div>

<script src="../static/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"></script>

<script>
carousel js
$(document).ready(function(){

	var clickEvent = false;
	$('#myCarousel').carousel({
		interval:   4000
	}).on('click', '.list-group li', function() {
			clickEvent = true;
			$('.list-group li').removeClass('active');
			$(this).addClass('active');
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.list-group').children().length -1;
			var current = $('.list-group li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.list-group li').first().addClass('active');
			}
		}
		clickEvent = false;
	});
})

$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
	$('#myCarousel .list-group-item').outerHeight(triggerheight);
});

</script>
</body>
</html>
