<!DOCTYPE html>
<html>
<head>
  <title>Egyptian swedish</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../static/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../static/fonts/font-awesome.min.css" rel="stylesheet">
  <link href="../static/mystyles1.css" rel="stylesheet">
  <link href="../static/hover.css" rel="stylesheet"  media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="logo navbar-btn pull-left" href="#"><img alt="Brand" src="../static/images/logo.png"></a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <nav role="navigation">
      <ul id="navbar-buttons" class="menu nav navbar-nav">
        <li><a href="#" class="hvr-sweep-to-top">HOME</a></li>
        <li><a href="#">PROJECT</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">CONTACTS</a></li>
      </ul>
    </nav>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../static/images/1.jpg" alt="Chania">
      <div class="carousel-caption">
        <h3>Whatever</h3>
        <img src="../static/images/line.png"/>
        <p>Located in the center of the banks area in Kawthar area next to “Best Way Mall” and 10 min away from Hurghada airport..</p>
      </div>
    </div>

    <div class="item">
      <img src="../static/images/1.jpg" alt="Chania">
      <div class="carousel-caption">
        <h3>Chania</h3>
        <img src="../static/images/line.png"/>
        <p>TLocated in the center of the banks area in Kawthar area next to “Best Way Mall” and 10 min away from Hurghada airport.</p>
      </div>
    </div>

    <!-- <div class="item">
      <img src="img_flower.jpg" alt="Flower">
      <div class="carousel-caption">
        <h3>Flowers</h3>
        <img src="line.png"/>
        <p>Beatiful flowers in Kolymbari, Crete.</p>
      </div>
    </div> -->
<!--
    <div class="item">
      <img src="img_flower2.jpg" alt="Flower">
      <div class="carousel-caption">
        <h3>Flowers</h3>
        <p>Beatiful flowers in Kolymbari, Crete.</p>
      </div>
    </div>
  </div> -->
</div></div></div>

<div id="mainContainer" class="container">
  <div class="row">

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/whale.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/build.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/whale.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/build.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

    <div class="property col-xs-12 col-sm-6 col-md-3">
      <div class="property-container">
        <img class="img-responsive width-control" src="../static/images/build.jpg">
        <div class="img-cover">Property Name</div>
      </div>
    </div>

  </div>
</div>



  <div class="container services">
    <div class="center">
      <h2> Our services </h2>
        <img src="../static/images/line.png" />
      <p style="margin-bottom: 50px;">An enterprising approach to commercial real estate services Houston and around the world</p>
    </div></div>

    <div class="container">
      <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
          <!-- Loading Screen -->
          <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
              <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
              <div style="position:absolute;display:block;background:url('../static/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
          </div>
          <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/01.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-01.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/02.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-02.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/03.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-03.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/04.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-04.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/05.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-05.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/06.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-06.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/07.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-07.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/08.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-08.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/09.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-09.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/10.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-10.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/11.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-11.jpg" />
              </div>
              <div data-p="144.50" style="display: none;">
                  <img data-u="image" src="../static/images/12.jpg" />
                  <img data-u="thumb" src="../static/images/thumb-12.jpg" />
              </div>
              <a data-u="add" href="http://www.jssor.com/demos/image-gallery.slider" style="display:none">Image Gallery</a>

          </div>
          <!-- Thumbnail Navigator -->
          <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
              <!-- Thumbnail Item Skin Begin -->
              <div data-u="slides" style="cursor: default;">
                  <div data-u="prototype" class="p">
                      <div class="w">
                          <div data-u="thumbnailtemplate" class="t"></div>
                      </div>
                      <div class="c"></div>
                  </div>
              </div>
              <!-- Thumbnail Item Skin End -->
          </div>
          <!-- Arrow Navigator -->
          <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
          <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
      </div>
  </div>

  <div id="aboutUs">
    <div class="center">
      <h2>ABOUT US</h2>
      <img src="../static/images/line.png"/>
      <p>We focuses on building long term relationships with customers by providing superior customer service.</p>
    </div>
  </div>

  <div class="container">
      <div class="row row-content">
        <div class="col-xs-12 col-sm-6 col-md-8">
            Egyptian Swedish is an integrated commercial property developer that owns, develops and manages real estate including residential projects,
            large scale resorts and building globally.Egyptian Swedish is a big company with big values and under it there is companies like (Red Sea,
            Egyptian Jordanian, Egyptian Swedish for hotels supplies) also offers a range of investment properties, management services and property assets.
            Egyptian Swedish is founded on the quality and integrity of our people and the long-term relationships we build with our customers plus an unrivalled
            knowledge of the property market in Red Sea.Egyptian Swedish combining dedicated people, global scale and extensive local knowledge.
            Our Customers:Egyptian Swedish focuses on building long term relationships with customers by providing superior customer service and ensuring that properties
            are maintained to exceptional standards.Our aim is to be the place for all Red Sea home hunters to find details of all properties available to buy or rent.
            Our team provide sophisticated property assistant.With the depth of information that it provides, home hunters can immediately identify a preferred property.
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="#">
              <img class="tag" src="../static/images/about.jpg" alt="About swedish team">
            </a>
        </div>
      </div>
  </div>

  <div id="ceoMsg" class="center">
    <h2>CEO Message</h2>
    <p>Total Quality Management and for Assured Quality, procedures are being implemented in our company.
      Our team of professionals always demonstrate our capabilities and giving us confidence in under-taking evermore challenging projects in building and construction.</p>
    <img class="tag" src="../static/images/line.png" />
    <h2 id="newLetter">SUBSCRIBE TO OUR NEWSLETTER</h2>
  </div>

  <div class="container subscribeForm">
    <div class="row row-content">
      <form class="form-inline">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <input type="email" placeholder="jane.doe@example.com">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <input type="button" value="Send invitation">
        </div>
      </form>
    </div>
  </div>

  <div class="blueBack">
    <div class="container">
    <div class="center">
      <h2>FEEL FREE TO ASK US ANYTHING</h2>
      <p>Contact us</p>
      <img class="tag" src="../static/images/line.png">
      <p>Just ask. Get answers. Your questions and comments are important to us</p>
    </div>

    <div class="row row-content">
      <div class="center col-xs-12 col-sm-12 col-md-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x icon-background"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
          <p>Address</p>
          <p>Mohamed Saed St., Elkawthar, Infront of Metro Market, El King Building, Second Floor, Apartment No. 8</p>
      </div>

      <div class="center col-xs-12 col-sm-12 col-md-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x icon-background"></i>
          <i class="fa fa-envelope-o fa-stack-1x"></i>
        </span>
          <p>Mail</p>
          <p>info@egyptian-swedish.com</p>
      </div>

      <div class="center col-xs-12 col-sm-12 col-md-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x icon-background"></i>
          <i class="fa fa-phone fa-stack-1x"></i>
        </span>
          <p>Phone</p>
          <p>Ahmed Mohamaden +20 110 050 2231</p>
      </div>
    </div>

      <div id="sendMessage">
        <div class="row row-content subscribeForm">
          <div class="col-xs-4 col-sm-4 col-md-4">
            <input type="text" class="form-control" placeholder="Your name*">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <input type="email" class="form-control"  placeholder="Your e-mail address*">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <input type="text" class="form-control" placeholder="Subject*">
          </div>
        </div>
        <div class="row row-content subscribeForm">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Message*"></textarea>
          </div>
        </div>

        <div class="row row-content">
          <div class="center col-xs-12 col-sm-12 col-md-12">
          <input type="button" value="Send Message">
        </div>

    </div>
  </div>
</div>

<div id="footer">
  <p>© Copyright 2016 Egyptian Swedish. Made with ♥ @ Pixels Media Studio</p>
</div>

<script src="../static/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- gallery -->
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../static/js/jssor.slider-21.1.5.mini.js"></script>

<script>
jQuery(document).ready(function ($) {

    var jssor_1_SlideshowTransitions = [
      {$Duration:1200,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
      {$Duration:1200,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
    ];

    var jssor_1_options = {
      $AutoPlay: true,
      $SlideshowOptions: {
        $Class: $JssorSlideshowRunner$,
        $Transitions: jssor_1_SlideshowTransitions,
        $TransitionsOrder: 1
      },
      $ArrowNavigatorOptions: {
        $Class: $JssorArrowNavigator$
      },
      $ThumbnailNavigatorOptions: {
        $Class: $JssorThumbnailNavigator$,
        $Cols: 10,
        $SpacingX: 8,
        $SpacingY: 8,
        $Align: 360
      }
    };

    var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

    //responsive code begin
    //you can remove responsive code if you don't want the slider scales while window resizing
    function ScaleSlider() {
        var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
        if (refSize) {
            refSize = Math.min(refSize, 800);
            jssor_1_slider.$ScaleWidth(refSize);
        }
        else {
            window.setTimeout(ScaleSlider, 30);
        }
    }
    ScaleSlider();
    $(window).bind("load", ScaleSlider);
    $(window).bind("resize", ScaleSlider);
    $(window).bind("orientationchange", ScaleSlider);
    //responsive code end
});
</script>
</body>
</html>
